/* COLOCAR EM TODOS CSS */
.header {
  background: #000000;
  margin-bottom: 20px;
  text-align: center;
}
.header_area {
  padding: 20px;
}
.menu_area {
  margin-top: 30px;
}
.menu_area nav a {
  background-color: #121313;
  color: white;
  margin-right: 10px;
}
.menu_area nav a:hover {
  background-color: #121313;
}
.active {
  background-color: #121313 !important ;
}

body {
  background-color: #121313 !important;
}

#cadastrese-btn-div {
  text-align: left !important;
}

#login-btn-div {
  text-align: right !important;
}

.btn-event {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: #121313 !important;
}

label {
  color: rgb(230, 225, 225);
}
#loginModalLabel {
  font-weight: bolder;
  color: rgb(230, 225, 225);
}
/* COLOCAR EM TODOS CSS */

#titulo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 0.8rem;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.39) !important;
  border-radius: 25px !important;
  color: rgb(230, 225, 225);
}

#tituloCadastro {
  width: 200px;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none !important;
  outline: none !important;
}

.modal-body {
  background-color: #0a0a0a !important;
  border-radius: 25px;
}

.form-control {
  color: #495057 !important;
  border: none !important;
}

.form-control:focus {
  outline: 0;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 5px #c06a30b6 !important;
}

.modal-content {
  background-color: transparent !important;
  border-radius: 25px !important;
}

input,
select {
  border: none !important;
  background-color: rgba(0, 0, 0, 0.39) !important;
}

option {
  border: none !important;
  background-color: rgba(0, 0, 0) !important;
}

.custom-select:focus {
  border-color: #8f8f8f;
  outline: 0;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%), 0 0 5px #c06a30b6 !important;
}

label {
  text-align: right;
  padding-right: 0 !important;
}

::placeholder {
  color: #495057 !important;
}

#btnCancelar-div {
  text-align: left;
  width: 49%;
  display: inline-block;
}
#btnSalvar-div {
  text-align: right;
  width: 50%;
  display: inline-block;
}

.btn-modal {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.btn-modal img {
  background-color: transparent;
  height: 60px;
}