body {
    background: #121313 !important;
  }

.card {
    padding: 0.8rem;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.39)!important;
    border-radius: 20%;
    color: rgb(230, 225, 225);
}

#profiles-grid{
    justify-content: center;

}

.card-body{
    padding: 5px !important; 
}

#like-img{
    margin-bottom: 6px;
}

#profile-cards{
    justify-content: center;
}

.btn-event {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
  }