body {
    background: #121313 !important;
  }

.card {
    padding: 0.8rem;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.39)!important;
    border-radius: 20%;
    color: white;
}

#profiles-grid{
    align-items: center;
}