/* COLOCAR EM TODOS CSS */
.header{
    background-color: #000000; 
    margin-bottom: 20px;
    text-align: center;
}
.menu_area{
    margin-top: 30px;
}
a.nav-link{
    /* background-color: white; */
    color: rgb(230, 225, 225) !important;
    margin-right: 10px;
}
.menu_area nav a:hover{
    background-color: #121313;
}
a:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.static {
    position:absolute;
    background: white;
}
  
.static:hover {
    opacity:0;
}
/* COLOCAR EM TODOS CSS */