label {
  color: rgb(230, 225, 225);
}
#txtTitles {
  font-weight: bolder;
  color: rgb(230, 225, 225);
}
::placeholder {
  color: rgb(0, 0, 0) !important;
  opacity: 3;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgb(0, 0, 0) !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgb(0, 0, 0) !important;
  opacity: 3;
}
h1 {
  text-align: center;
}
#msg {
  height: 60px;
}
#grid-contatos tbody {
  cursor: pointer;
}

#titulo {
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-header, .modal-body, .modal-footer{
  background-color: #121313 !important;
}

#btnInsert img{
  width: 200px;
  height: 40px;
}

#btnInsert{
  float: right;
}

#table_title,
#pending-table-title {
  width: 400px !important;
  display: inline;
}

#filter-select {
  margin-top: 25px;
  display: inline;
  float: right;
}

#filter-musical-style {
  background-color: #121313 !important;
  border-radius: 10px;
  border-color: transparent;
  color: rgb(230, 225, 225);
  text-align: center;
  height: 30px;
  width: 11vw;
  padding: 0 3px 0 5px;
  cursor: pointer;
}

body {
  background: #121313 !important;
}

.btn-event {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}


#btn-pendent-img {
  padding: 0;
  border: 0;
  margin: 0;
}

#div-first-table-events,
#div-scnd-table-events,
table {
  color: rgb(230, 225, 225);
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid black !important;
}