.containerPerfil {
    margin:30px;
    margin-top: 0;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://picsum.photos/1500/400?random);
    background-size: cover;
    background-repeat: no-repeat
}

.corExemplo {
    float: left;
}

input#inputComentario{
    margin-bottom: 10px;
}

#buttonEnviar{
    width: 55px;
}

label {
    color: rgb(230, 225, 225);
}

#txtTitles {
    font-weight: bolder;
    color: rgb(230, 225, 225);
}

.modal-header, .modal-body, .modal-footer{
    background-color: #121313 !important;
}

body {
    background: #121313 !important;
}